
.contact-page {
    margin: 0;
    padding: 0;
    background-color: #dfdad3;
    color: #1A1818;
    background-size: cover;  /* This will ensure the background image (if any) covers the whole container */
    background-position: center; /* Optional: ensures the background is centered */
    height: 100vh; /* Set to viewport height to cover the entire screen */
    width:100vw;
  }

  
.top-menu {
  
  margin: 0; /* Removes default margin on ul */
  padding: 0; /* Removes default padding on ul */
  }
  

  
.top-menu a {
    position: absolute;
    width: 71px;
    height: 35px;
    left: 49px;
    top: 36px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: #1A1818;
    cursor: pointer;
  }
  
  /* Hover effect for the link */
.top-menu a:hover {
  text-decoration: line-through 1px;
  }
  
.top-menu img {
  position: absolute;
  width: 71px;
  height: 35px;
  left: 190px;
  top: 38px;
  scale: 2;

}

.mainBody h1{
    /* Hello. */

position: absolute;
width: 536px;
height: 236px;
left: 160px;
top: 276px;

font-family: 'Italiana';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 236px;
letter-spacing: 0.1em;

color: #1A1818;

}

.desc {
position: absolute;
width: 511px;
height: 52px;
left: 160px;
top: 512px;

/* Body */
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 26px;

color: #1A1818;
}

.email{
position: absolute;
width: 1000px;
height: 30px;
left: 160px;
top: 592px;
display: flex;

/* Body */
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 26px;

color: #1A1818;
}

.email a{
    text-decoration: none;
    color: #1A1818;
}

.email a:hover{
  text-decoration:underline;
}

.links{
    /* On The Internet: LinkedIn / Github */

position: absolute;
width: 418px;
height: 26px;
left: 160px;
top: 628px;
display: flex;

/* Body */
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 26px;

color: #1A1818;

}
.links a{
    text-decoration: none;
    color: #1A1818;
}

.links a:hover{
  text-decoration:underline;
}




@media (max-width: 768px) {
  .contact-page{
    display: flex;
    flex-direction: column;
  }
  
  .top-menu{
    transform: scale(0.7);
    
  }

  .top-menu a{
    top:40px;
    left:-40px;
  }

  .top-menu img{
    top:42px;
    left:90px;
  }

  .mainBody h1{
    top: 20%;
    left: 15%;
    font-size: 7rem;
  }

  .desc{
    left: 15%;
    top: 50%;
    width: 70%;
    margin-bottom:10px ;
    font-size: 1.1rem;
  }

  .email{
    left: 15%;
    top: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
  }

  
  .links{
    left: 15%;
    top: 82%;
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
  }
}